# Ignore Terraform artifacts
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
gcp-workspace-full/.terraform/
*/.terraform/
**/.terraform/
*.json
*.hcl
*.terraform.lock.hcl
legacy/
*/.DS_Store
.DS_Store
.idea
